.ChartView {
  text-align: center;
  padding-top: 100px;

  &__item {
    display: inline-block;
    padding: 0 20px 10px 0;
    border-bottom: grey solid 0.5px;
  }

  @media (max-width: 900px) {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    
    &__slides {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
    }

    &__slides::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &__slides::-webkit-scrollbar-thumb {
      background: black;
    }

    &__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin-right: 20px;
    }
  }
}