.DonutChartComponent {
  position: relative;
  
  &__donut {
    position: relative;
    padding: 0 40px;
  }

  &__title {
    color: grey;
    font-size: 15px;
  }

  &__total {
    font-size: 18px;
  }

  &__title,
  &__total {
    display: block;
    padding-bottom: 5px;
    text-align: center;
  }

  &__line-chart {
    position: absolute;
    bottom: 40px;
    left: 80px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__value {
    color: lightgrey;
  }
  &__background {

    &-revenue {
      fill: #e4fcde;
    }
    &-impresions {
      fill: #dbfdff;
    }
    &-visits {
      fill: #fff0ed;
    }
  }
}