.DonutChartComponent {
  $blockClass: &;
  position: relative;
  
  &__donut {
    position: relative;
    padding: 0 40px;
  }

  &__title {
    color: grey;
    font-size: 15px;
  }

  &__total {
    font-size: 18px;
  }

  &__title,
  &__total {
    display: block;
    padding-bottom: 5px;
    text-align: center;
  }

  &__line-chart {
    position: absolute;
    bottom: 40px;
    left: 80px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__tablet-info {
    text-align: left;
  }

  &__smartphone-info {
    text-align: right;
  }

  &__value {
    color: lightgrey;
  }

  &__background {

    &__revenue {
      fill: #e4fcde;
    }
  
    &__impressions {
      fill: #dbfdff;
    }
  
    &__visits {
      fill: #fff0ed;
    }
  }

  &--revenue {
  
    #{$blockClass}__tablet-text {
      color: #44DF22;
    }
  
    #{$blockClass}__smartphone-text {
      color: #38AF1E;
    }
  }

  &--impressions {
  
    #{$blockClass}__tablet-text {
      color: #4DD4DD;
    }

    #{$blockClass}__smartphone-text {
      color: #2945BB;
    }
  }

  &--visits {

    #{$blockClass}__tablet-text {
      color: #E5C839;
    }

    #{$blockClass}__smartphone-text {
      color: #E55039;
    }
  }

  &__tablet-text,
  &__smartphone-text {
    display: block;
  }
}